a { text-decoration: none;}
body{background: rgb(255, 255, 255); margin: 0;}
* { margin: 0; padding: 0;list-style: none;}
.clearfix::after {content: '';display: block; clear: both;}
.topNavBar{position: fixed;width: 100%;padding: 20px 0 20px 0;top: 0;left: 0;
transition: all 0.7s;color:rgb(255, 193, 157);}
.topNavBar.sticky{background: white;padding: 10px 0;z-index: 1;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);color: rgb(114, 103, 97);}
.intopNavBar{ padding: 0 16px;}
.topNavBar nav{padding-bottom: 2px;}
.topNavBar nav > ul{margin: 0; padding: 0;}
.topNavBar nav > ul > li{position:relative;float: left;margin-left: 17px;margin-right: 17px;}
.topNavBar nav > ul > li >a{font-size: 15px;font-weight: bold;color: inherit;
    display: block;padding-top: 9px; padding-bottom: 5px;position: relative;}
.logo{font-size: 24px;font-family: 'Arial Black';}
.rs{margin-right: 5px;color: rgb(252, 145, 95)}
.card{color: rgb(114, 103, 97);}
.topNavBar nav > ul > li.active > a::after,
.topNavBar nav > ul > li.light > a::after
 {content:'';display: block;position: absolute;
    top:100%;left: 0;width:100%;height:3px; background:rgb(230, 121, 70);animation: slide .3s;}
@keyframes slide{
    0%{width: 0}
    100%{width: 100%}
}
.topNavBar .submenu{display: none;position: absolute;right:0;top:100%;
    background: rgb(255, 247, 247);color: rgb(114, 103, 97);margin-top: 3px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);}
.topNavBar li.active>.submenu{display: block;animation: menuslide .3s;}
@keyframes menuslide{
    0%{margin-right: 100%}
    100%{margin-right: 0%}
}
.topNavBar .submenu > li{white-space: nowrap;padding: 5px 10px;}
.userCard {max-width: 940px;margin-left: auto;margin-right: auto;
     background-color: rgba(255, 240, 233, 0.7);border-radius: 7px;
     box-shadow: 0px 0px 14px 2px rgba(241, 209, 206, 0.7); }
.welcome {margin-top: 10px;background: rgb(252, 145, 95);color: white;display: inline-block;
    padding: 4px 16px; line-height: 22px;position: relative;margin-bottom: 10px;}
.triangle{display: block;border: 10px solid transparent;width: 0px;border-left-color: rgb(252, 145, 95);
    border-top-width: 0px;position: absolute;left: 4px;top: 100%;}
.picture{float: left;margin-right: 30px;}
.text{float: left;margin-left: 60px;width: 470px;}
.text h1{margin: 18px 0 5px 0;}
.text hr{margin: 10px 0 20px 0;}
.pictureAndText {padding: 50px;}
.userCard dl dt,
.userCard dl dd{float: left;padding: 5px 0;}
.userCard dl dt{ width: 30%;font-weight: bold;}
.userCard dl dd{width: 70%;color: #9da0a7;}
.media{ background: rgb(252, 145, 95);text-align: center;border-radius: 7px;}
.media > a{display: inline-block;width: 40px;line-height: 30px;
    padding: 5px 0;border-radius: 50%;margin: 16px;}
.userCard svg{ width: 30px; height: 30px; fill: white;vertical-align: top;}
.media > a:hover{background: rgb(230, 121, 70);}
main{margin-top:150px;}
.download{margin:50px auto; text-align: center;}
.downRe{display: inline-block;border: 1px solid rgb(197, 194, 194);font-size: 14px;
    padding: 20px 52px;background: #fff7f7;margin: 30px;border-radius: 3px;
    font-weight: bold;transition: box-shadow 0.2s;color:  rgb(230, 121, 70);}
.downRe:hover{box-shadow: 4px 3px 11px 0px rgba(150,140,132,0.75);}

.brief {max-width: 940px;margin-left: auto;margin-right: auto;border-radius: 7px;
    box-shadow: 0px 0px 14px 2px rgba(241, 209, 206, 0.7);margin-bottom: 100px;margin-top: 100px}
.self{background-color: white;padding: 0 20px 20px 20px}
.word{height: 500px;background-color: rgba(255, 240, 233, 0.7);margin: 10px}

.portfolio{max-width: 940px;margin-left: auto;margin-right: auto;margin-top: 50px;
   box-shadow: 0px 0px 14px 2px rgba(241, 209, 206, 0.7);}

.portfolio > nav > ol{list-style: none;}
.tell > h2 ,.portfolio > h2,.my > h2 {text-align: center;color: #3d4451;font-size: 34px;line-height: 1.2;font-weight: 600;
padding: 30px}



.portfolio {margin-bottom: 100px;}

  .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }

[data-x].active{outline:1px solid red}
[data-x].offset{
    transform: translateY(50px);
}
[data-x]{
    transform: translateY(0);
    transition: all 0.5s;
}

.weisha{max-width: 940px;background:white;
    margin-left: auto;margin-right: auto;margin-top: 50px;margin-bottom: 20px;
    box-shadow: 0px 0px 14px 2px rgba(241, 209, 206, 0.7);padding-bottom: 10px;}
.weisha > ol{
    margin:20px 30px 0 30px;
}

.weisha > ol > li{
    padding:16px;text-align: center;
    border-bottom: 1px solid rgba(255, 187, 142, 0.7);
}
.works{padding-bottom: 50px}
.img0{background:rgba(255, 240, 233, 0.7); margin:10px; border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgba(255, 230, 219, 0.5);}
.imgs{box-sizing: border-box; max-width: 170px;margin:14px auto 14px 30px;}
.intro1{position: absolute;right: 20px;top: 150px;}